body {
    background-color: darkslateblue;
}
.container {
    display: flexbox;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 100px;
}
.title{
    font-size: 50px;
    margin-bottom: 30px;
    align-items: center;
}
.length-control {
    justify-content: center;
    flex-direction: row;
    display: flex;

}
.break {
    margin-right: 40px;
}
.btn {
    border: none;
    font-size: 20px;
    background: none;
    color: white;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.timer {
    margin-top: 40px;
}
.control-buttons button {
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
}